* {
    margin: 0;
    padding: 0;
    vertical-align: baseline;
    background: 0 0;
    font-style: normal;
    text-decoration: none;
    outline: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-overflow-style: none;
    scrollbar-width: none;
    font-family: "public_sans";
}

body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    ::-webkit-scrollbar {
        display: none;
    }
}

a {
    display: block;
}

img {
    width: 100%;
    display: block;
}

.wrapper {
    width: 90%;
    margin: 0 auto;
    /* max-width: 1440px; */
}
button {
    border: none;
}

@font-face {
    font-family: "public_sans";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/PublicSans-Regular.woff) format("woff");
}
@font-face {
    font-family: "public_sans_medium";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/PublicSans-Medium.woff) format("woff");
}
@font-face {
    font-family: "georgia";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Georgia.woff) format("woff");
}
@font-face {
    font-family: "georgia_italic";
    font-style: normal;
    font-weight: 400;
    src: url(./assets/fonts/Georgia-Italic.woff) format("woff");
}
